n8n/workflows/list_folders_basic.json
{
  "name": "List Folders - Basic (Set Nodes Only)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "options": {
          "q": "mimeType = 'application/vnd.google-apps.folder' and trashed = false"
        }
      },
      "id": "google-drive-folders",
      "name": "Get All Folders",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "folderName",
              "value": "={{ $json.name }}"
            },
            {
              "name": "folderId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "createdDate",
              "value": "={{ $json.createdTime }}"
            },
            {
              "name": "modifiedDate",
              "value": "={{ $json.modifiedTime }}"
            },
            {
              "name": "folderLink",
              "value": "=https://drive.google.com/drive/folders/{{ $json.id }}"
            },
            {
              "name": "markdownLine",
              "value": "=- **{{ $json.name }}** (ID: `{{ $json.id }}`) - [Open](https://drive.google.com/drive/folders/{{ $json.id }})"
            }
          ]
        },
        "options": {}
      },
      "id": "format-folder",
      "name": "Format Folder Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get All Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Folders": {
      "main": [
        [
          {
            "node": "Format Folder Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T03:00:00.000Z",
  "versionId": "list-folders-basic-v1"
}

