n8n/workflows/list_all_documents_simple.json
{
  "name": "List All Documents from Storage",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "list",
        "returnAll": true,
        "options": {
          "fields": [
            "id",
            "name",
            "mimeType",
            "size",
            "modifiedTime",
            "webViewLink",
            "webContentLink"
          ],
          "q": "trashed = false"
        }
      },
      "id": "google-drive-list",
      "name": "List All Documents",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "doc-1",
              "name": "fileId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "doc-2",
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "doc-3",
              "name": "fileType",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "doc-4",
              "name": "fileSize",
              "value": "={{ $json.size ? Math.round($json.size / 1024) + ' KB' : 'N/A' }}",
              "type": "string"
            },
            {
              "id": "doc-5",
              "name": "modifiedDate",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            },
            {
              "id": "doc-6",
              "name": "viewLink",
              "value": "={{ $json.webViewLink || '' }}",
              "type": "string"
            },
            {
              "id": "doc-7",
              "name": "downloadLink",
              "value": "={{ $json.webContentLink || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-output",
      "name": "Format Document Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "List All Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Documents": {
      "main": [
        [
          {
            "node": "Format Document Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T02:30:00.000Z",
  "versionId": "list-all-documents-simple-v1"
}

