n8n/workflows/simple_test_with_http.json
{
  "name": "Simple Test - HTTP Request",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://httpbin.org/json",
        "options": {}
      },
      "id": "http-request",
      "name": "Get Test Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json.slideshow.title }}"
            },
            {
              "name": "author",
              "value": "={{ $json.slideshow.author }}"
            },
            {
              "name": "date",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "readableOutput",
              "value": "=# 📊 HTTP Test Results\n\n## ✅ Request Successful\n\n**Title:** {{ $json.slideshow.title }}\n**Author:** {{ $json.slideshow.author }}\n**Date:** {{ $now.toISO() }}\n\n---\n\nThis data was fetched from: https://httpbin.org/json"
            },
            {
              "name": "summary",
              "value": "=✅ HTTP Request completed successfully!\n📝 Title: {{ $json.slideshow.title }}\n👤 Author: {{ $json.slideshow.author }}\n📅 Retrieved at: {{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Test Data": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T03:00:00.000Z",
  "versionId": "simple-test-http-v1"
}

